body {
  font-family: sans-serif;
  text-align: center; 
}

#grad {
  background: #E56657; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(red, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(red, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(red, white); /* Standard syntax */
}

div {
  height:100vh;
}
.button{
  background-color: white;
  width: 30%;
  min-width: 100px;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;  
}

.button-select{
  background-color: #D6D6D6;
}
